@import './../../../styles.scss';

.hsra-project-screen {
    display:flex;
    margin: 0 auto;
    width: 100%;    
    mat-card {
        padding-top: 5px;
        display: flex;
        flex-direction: column;        
        width: 100%;
        mat-card-title {
            margin-top: 0;
                      
            h2 {
                font-size: 1.2rem;
            }
        }
        mat-card-content {
            display: flex;
            flex-direction: column;
            div {
                display: flex;
                flex-direction: row;                
                flex-wrap: wrap;
                
                mat-form-field {
                    flex-grow: 1;
                    margin: 0 20px;
                    
                    
                    p {
                        z-index: 100;
                        position: absolute;
                        top:20px;
                        font-size: 0.8rem;
                                   

                        &.process-type {
                            color:$color-blue-highlight;
                        }
                        &.upcoming-label {
                            color:$color-red-highlight;
                        }
                    }
                }
            }
        }
    }
}