<mat-card>
    <mat-card-content >
        <form>
            <div fxLayout fxLayoutAlign="start center" fxLayoutGap="5%">
                <p fxFlex="10%">
                  <strong>Business Unit:</strong>
                </p>
              <mat-form-field  fxFlex="15%">
                <mat-select [(value)]='selectedValue'>
                  <mat-option value="HSDP" selected >HSDP</mat-option>
                  <mat-option value="CAO">CAO</mat-option>
                  <mat-option value="HTS">HTS</mat-option>
                  <mat-option value="EIS">EIS</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </form>
        </mat-card-content>
        <!-- <mat-progress-bar mode="indeterminate" *ngIf="isLoaded"></mat-progress-bar> -->
        <mat-card-content >
            <div class="example-container mat-elevation-z2" fxFlex="100%">
                <div class="container" fxLayout fxLayoutAlign="center center" fxLayoutGap="10%">
                  <mat-form-field fxFlex="65%">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                  </mat-form-field>
                  <button mat-raised-button fxFlex="20%" color="primary" (click)="openDialog()">Add New Project</button>
                </div>
                <mat-table #table [dataSource]="dataSource">
                  <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Project Code </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Project Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                  </ng-container>
                  <ng-container matColumnDef="currentProjectVersion">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Current Project Version </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.currentProjectVersion}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="project_manager">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Project Manager</mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.project_manager}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="architect">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Architect </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.architect}} </mat-cell>
                    </ng-container>
                  <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <button mat-button color="primary" (click)="editProject(element)">Edit</button>
                      <button mat-button color="warn" (click)="deleteProject(element)">Delete</button>
                    </mat-cell>
                  </ng-container>
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [length]="recordCount" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
                </mat-paginator>
              </div>

       

  </mat-card-content>
</mat-card>
