$anms-primary: mat-palette($mat-blue, 900, 100, A700);
$anms-accent: mat-palette($mat-light-blue);
$anms-warn: mat-palette($mat-deep-orange, A200);

$anms-theme: mat-light-theme($anms-primary, $anms-accent, $anms-warn);
