.custom-grid-class {
    font-family: "Centrale-Sans";
    font-size: 14px;
}

.custom-grid-class .ag-header-row {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    font-family: "Centrale-Sans";
}

/* .ag-theme-material .ag-header-cell-label .ag-header-cell-text{
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    font-family: "Centrale-Sans";
}

.custom-header-style{
    font-size: 12px;
    color: red;
}

.ag-theme-material .ag-ltr .ag-header-cell {
    font-family: "Centrale-Sans";
} */