
    <!-- Select BU, Project, Release -->
  <app-hsra-project-details></app-hsra-project-details>
  <!-- end:Select BU, Project, Release -->    
  <mat-card>
    <mat-card-title>        
        <p>Reusable Components Design Screen</p>
        <p><small><em>Dummy Screen to try out cool stuff</em></small></p>        
    </mat-card-title>
    <mat-card-content>  
      <p>Reusable File Upload  / URL Enter Combo UI</p>
      <app-file-url-combo></app-file-url-combo>
    </mat-card-content>
</mat-card>  
