@import '../../../../styles.scss';

.file-url-dialog {
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    .mat-dialog-content {
        overflow: none !important;
        .link-field {
            mat-icon {
                padding: 5px;
                padding-right: 8px;
                // border: 1px solid red;            
                background-color: $color-grey;            
            }
            input {
                padding: 5px;
                font-family: $font-family;
                background-color: $color-grey;
                flex-grow: 2;
                border: none;
            }
            display: flex;
            flex-direction: row;        
        }
        .action-items {
            margin-top: 5px;
        }
    }
}